body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(32,106,253);
    background: linear-gradient(0deg, rgba(32,106,253,1) 0%, rgba(82,209,217,1) 50%, rgba(105,255,201,1) 100%);
    border: 3px solid #000000;
}
.caixa{
	width: 100%;
	margin: 0 auto;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

nav a{
	color: #000000;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
}
nav a:hover{
	color: #c79b19;
}
.input-padrao{
  display: block;
  margin: 0 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    color: rgb(0,0,0, 0.97);
}
.titulo-principal:hover{
    color: #c79b19;
}
.texto-principal{
  padding: 3em 0;
  width: 940px;
  margin: 0 auto;
  background-color: rgb(215, 215, 250);
  border: 3px solid #000000;
  border-bottom: 0px;
}
.texto{
    margin:0 0 0 1em;
    
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
.conteudo-lista{
    width: 640px;
    margin: 0 auto;
}
.qualidades{
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
    background-color: rgb(215, 215, 250);
}
.itens{
    line-height: 1.5;
}
.itens:before{
  content: "🪙"
}

.contato {
    margin-top: 40px;
    margin-left: 250px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.tituloContato{
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    color: #000000; 
}
.tituloContato:hover{
    color: #c79b19;
}

.formContato{
    display: flex;
    flex-direction: column;
}

.labelContato {
    margin-bottom: 2px;
    font-weight: bold;
    color: #333333; 
}

input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
    background-color: #f9f9f9; 
}
.objeto{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 195px;
    margin-top: 20px;
    background-color: #ffffff;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.objtCont img{
    width: 200px;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.objetoNome{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

footer{
    background-color: #000000;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0 0 40px;
    padding-top: 25px;
    font-size: 17px;
}

.github:before{
    content: "😺"
}
